.main-container {
  display: flex;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100vh;
  height: 100vh;
  max-height: none;
  max-width: none;
}